body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    margin: 15px 0;
}

header nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ddd;
}

#destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.destination {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.destination:hover {
    transform: scale(1.05);
}

.destination img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}



#featured {
    background-color: #f8f8f8;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#featured h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
    width: 100%;
}

.featured-destination {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    flex: 1; 
    transition: transform 0.3s ease;
}

.featured-destination:hover {
    transform: scale(1.05);
}

.featured-destination img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#about, #contact {
    background-color: #eee;
    padding: 40px;
    text-align: center;
}

.about-us h2, .contact-info h2 {
    color: #333;
}

.about-us p, .contact-info p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.about-us, .contact-info {
    max-width: 800px;
    margin: 0 auto;
}




